.Fruits {
    background: skyblue;
    margin-top: 3%;
    box-shadow: 0 2px 3px 1px;
    box-sizing: border-box;
   position: relative;
   padding: 5%;
    
}
.cardfruits{
    margin-left: 3%;
    background: white;
    text-align: center;
    list-style: none;
    font-size: 18px;
    box-shadow: 0 2px 4px 3px;
    box-sizing: border-box;
    padding-top: 5%;
    
}

.ffruits {
    font-display: inherit;
    text-align: center;
    margin-top: 3%;
    font-style: italic;
}
.ffruits h3 {
    color: skyblue;
}
.ffruits p {
    color: black;
    float: left;
}



